body {
  padding-top: 50px;
}


.navbar-nav a:hover, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background: #0383c0 !important;
	color: #ffffff !important;
}